<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tappt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/invoice.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light navbar-toggleable-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/media/Tapptnb.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
                </a>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Invoices" asp-action="Index">Invoices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Companies" asp-action="Index">Companies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Fees" asp-action="Index">Fees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Items" asp-action="Index">Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Reports" asp-action="Index">Reports</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container mt-4">
        <main role="main" class="pb-3 mt-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Tappt - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/42e7bd55fd.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
