@model invoice.Models.Invoice

@{
    ViewData["Title"] = "Download Invoice";
}
<section class="container">
    <h1>Download</h1>
</section>
<section class="container">
    <div>
        <form asp-action="Download">
        @*<form method="get" asp-action="DownloadConfirmed">*@
            <input type="hidden" asp-for="InvoiceId" />
            <div class="mb-3">
                <label for="notes" class="form-label">Invoice notes (Optional)</label>
                <textarea class="form-control" id="notes" name="notes"  rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="terms" class="form-label">Terms and conditions (Optional)</label>
                <textarea class="form-control" id="terms" name="terms" rows="3"></textarea>
            </div>
            <input type="submit" value="Download" class="btn btn-dark" />
            @*<a href="/Invoices/DownloadConfirmed/@Model.InvoiceId" target="_blank">Download</a>*@
            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
        </form>
    </div>
</section>
