<!DOCTYPE html>
<html style="font-family:Verdana, Geneva, Tahoma, sans-serif;" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
</head>
<body>
    <header>
        <section>
            <div style="display: inline-grid; grid-template-columns: auto auto; justify-content: space-evenly;">
                <div>
                    <h1 style="font-size: 20px;">Invoice</h1>
                    <p>
                        Date Generated: {0}
                    </p>
                    <p>
                        Due Date: {1}
                    </p>
                </div>
                <div style ="padding-top: 10px;">
                    <div>
                        <!-- Name -->
                        <p>{2}</p>
                    </div>
                    <div>
                        <!-- Phone -->
                        <p>{3}</p>
                    </div>
                    <div>
                        <!-- Address -->
                        <p>{4}</p>
                    </div>
                </div>
            </div>
        </section>
        <section style ="padding-top: 10px;">
            <div style="display: inline-grid; grid-template-columns: auto auto; justify-content: space-evenly;">
                <div>
                    <h1 style="font-size: 18px;">Bill to</h1>
                </div>
                <div>
                    <div>
                        <!-- Name -->
                        <p>{5}</p>
                    </div>
                    <div>
                        <!-- Phone -->
                        <p>{6}</p>
                    </div>
                    <div>
                        <!-- Address -->
                        <p>{7}</p>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        <div style ="padding-top: 10px;">
            <h1 style="font-size:18px;">Items</h1>
        </div>
        <section style="margin-top: 10px;">{8}</section>
    </main>
{9}
</body>
</html>
































