<!DOCTYPE html>
<html style="font-family:Verdana, Geneva, Tahoma, sans-serif;" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <header style="border: 1px solid red;">
        <section>
            <div style="display: inline-grid; grid-template-columns: auto auto; justify-content: space-evenly;">
                <div style ="border: 1px solid green;">
                    <h1 style="font-size: 20px;">INVOICE</h1>
                    <p>
                        Date Generated: {0}
                    </p>
                    <p>
                        Due Date: {1}
                    </p>
                </div>
                <div style ="border: 1px solid green;">
                    <div>
                        <p>Name: {2}</p>
                    </div>
                    <div>
                        <p>Phone: {3}</p>
                    </div>
                    <div>
                        <p>Address: {4}</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div style="display: inline-grid; grid-template-columns: auto auto; justify-content: space-evenly;">
                <div style ="border: 1px solid green;">
                    <h6 style="font-size: 18px; margin: 1px; padding: 10px;">Bill to</h1>
                </div>
                <div style ="border: 1px solid green;">
                    <div>
                        <p>Name: {5}</p>
                    </div>
                    <div>
                        <p>Phone: {6}</p>
                    </div>
                    <div>
                        <p>Address: {7}</p>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <main>
        <section>{8}</section>
    </main>
{9}
</body>
</html>
































